.content-header {
  margin-top: 5px;
  background-color: white;
  margin: 20px 0;
  padding: 10px;

  div {
    .button-container {
      position: relative;

      .toggleButton {
        &:hover {
          cursor: pointer;
          color: #3E97FF;
        }
      }

      .toggled-button {

        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(100%, 100%);
        font-size: 14px;
        background-color: white;
        z-index: 3;
        min-width: 120px;
        border-radius: 10px;

        div {

          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          border-radius: 5px;

          &:last-child {
            color: #FF4B55;
          }

          &:hover {
            background-color: #caccce;
          }


          p {
            flex-grow: 1;
            padding: 5px 10px;
            margin: 0;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

    }


    .numberInUse {
      // width: 95%;

      p {
        margin: 0;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;

      }

      .status {
        background-color: #48B29A;
        color: white;
        padding: 6px 15px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 14.4px;

      }

    }
  }

  .header-body {
    flex-grow: 1;
    margin-top: 20px;
    background-color: white;
    font-size: 14px;

    .header-row {
      margin-top: 15px;

      div {
        // width: 180px;
        gap: 10px;
        flex-basis: 172px;
        flex: 1 0 0%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        text-wrap: ellipsis;

        &:not(:nth-child(1))::after {
          content: '';
          width: 1px;
          border-radius: 3px;
          height: 50%;
          background-color: #DFDFDF;
          position: absolute;
          right: 0;
          top: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        p:first-child {
          color: #6B7280
        }

        p {
          margin: 0;
        }

      }

    }
  }
}

.active {
  color: #3E97FF;
}