<footer>
  <div class="container d-flex aliggn-items-center justify-content-between">
    <div class="personal-info d-flex justify-content-between align-items-center">
      <div class="img">
        <img width="50" height="50"
        class="rounded-circle"
        src="./download.jpeg" alt="cartoon image" />
      </div>
      <div class="info">
        <p>تم الانشاء بواسطة</p>
        <h3>عبدالله محمود فوزي</h3>
      </div>
    </div>
    <div class="date">
      <p>تاريخ الانشاء</p>
      <h3>1/2/2024   01:45 م</h3>
    </div>
  </div>
</footer>
